h6 {
  color: red;
}
button {
  text-align: center;
}

li {
  font-size: 20px;
}
h2 {
  color: blue;
  text-align: center;
}
i {
  color: green;
}
h3{
  font-size: 30px;
  color:rgb(241, 116, 116);
  text-align: center;
  font-weight: 100;
}

.chatWindow {
  background-color: white;
  border: 1px solid black;
  color:white;
  width: 100%;
  height:350px;
}
 
#chatPage {
  background-color: lightgrey;
  width: 100%;
  height:350px;
}
 #inputSection {
  position: fixed;
  bottom: 0;
}

#messageBox {
  width: 350px;
  color:black;
}

#sidebar-wrapper {
  background-color: black;
  color: white;
  width: 100%;
  height:350px;
}

.activeUser{
  color:red;
}



